.containal{
  background-color: #fff;
  :global{
  .ant-carousel .slick-slide {
    text-align: center;
  }
  .ant-carousel .slick-slide img{
    width: 80px;
    height: 80px;
  }
  .slick-track{
    display: flex;
  }
}
.banner-item{
  width: 22%;
  text-align: center;
  display: inline-block;
  img{
    margin: 0 auto;
  }
}
}
