:global{
 .ant-list-item{
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
  border-top: 1px #e6e6e6 solid;
}
.ant-avatar-image{
  height: 100px;
  width: 100px;
}
.ant-rate-star{
  width: 5px;
}
.anticon-star{
  font-size: 5px;
}
}
