.containal{
  :global{
    .ant-card-body{
      text-align:center;
    }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 600px;
    background: #364d79;
    overflow: hidden;
  }
  .ant-card-meta-avatar{
    float: none;
  }
  }
  img{
    margin: 0 auto;
    height: 100%;
  }
}
